include README.md
include LICENSE
include flagged-csv.prompt.md
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude tests *
recursive-exclude testing_xlsx *
exclude example.py